<nav class="navbar navbar-expand-lg navbar-light tool-navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/"><i class="fa-solid fa-angle-left"></i> Home</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">File</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Resize</a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-lg text-white shadow-none" href="#"><i class="fa-solid fa-rotate-left"></i></button>
        </li>

        <li class="nav-item">
          <button class="nav-link text-white btn btn-lg shadow-none" href="#"><i class="fa-solid fa-rotate-right"></i></button>
        </li>
      </ul>
    </div>
    <div class="d-flex w-auto">
      <button class="btn btn-white"><i class="fa-solid fa-upload"></i> Share</button>
    </div>

  </div>
</nav>