<div class="different-sizes-images-container" id="photos-image-container">
    <img src="images/tool/templates/sample1.jpeg" class="border local-image" alt="Sample 1" />
    <img src="/images/tool/templates/sample2.jpeg" class="border local-image" alt="Sample 2" />
    <img src="/images/tool/templates/sample3.jpeg" class="border local-image" alt="Sample 3" />
    <img src="/images/tool/templates/sample4.jpg" class="border local-image" alt="Sample 4" />
    <img src="/images/tool/templates/sample5.jpeg" class="border local-image" alt="Sample 5" />
    <img src="/images/tool/templates/sample6.jpeg" class="border local-image" alt="Sample 6" />
    <img src="/images/tool/templates/sample7.jpeg" class="border local-image" alt="Sample 7" />
    <img src="/images/templates/sample8.jpeg" class="border local-image" alt="Sample 8" />
    <img src="/images/tool/templates/sample9.jpg" class="border local-image" alt="Sample 9" />
    <img src="/images/tool/templates/sample10.jpeg" class="border local-image" alt="Sample 10" />
    <img src="/images/tool/templates/sample11.jpeg" class="border local-image" alt="Sample 11" />
    <img src="/images/tool/templates/sample12.jpeg" class="border local-image" alt="Sample 12" />
    <img src="/images/tool/templates/sample13.jpeg" class="border local-image" alt="Sample 13" />
    <img src="/images/tool/templates/sample14.jpeg" class="border local-image" alt="Sample 14" />
    <img src="/images/tool/templates/sample15.jpeg" class="border local-image" alt="Sample 15" />
    <img src="/images/tool/templates/sample16.jpeg" class="border local-image" alt="Sample 16" />
    <img src="/images/tool/templates/sample17.jpeg" class="border local-image" alt="Sample 17" />
    <img src="/images/tool/templates/sample18.jpg" class="border local-image" alt="Sample 18" />
    <img src="/images/tool/templates/sample19.jpeg" class="border local-image" alt="Sample 19" />
    <img src="/images/tool/templates/sample20.jpeg" class="border local-image" alt="Sample 20" />
    <img src="/images/tool/templates/sample21.jpg" class="border local-image" alt="Sample 21" />
    <img src="/images/tool/templates/sample22.jpg" class="border local-image" alt="Sample 22" />

</div>