<h5>Properties</h5>
<a id="delete-object-btn" class="btn btn-danger mb-1"><i class="fa-solid fa-trash fa-2x"></i></a>
<a id="send-to-back-btn" class="btn btn-danger mb-1">
    Send To Back
</a>
<a id="bring-to-front-btn" class="btn btn-danger mb-1">
    Bring to Front
</a>



<!-- Move Card START -->
<!-- <div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">Move</h5>
        <div class="hstack gap-2">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-arrows-left-right"></i></span>
                <input type="number" min="1" value="1" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-arrows-up-down"></i></span>
                <input type="number" max="1000" value="1" class="form-control" />
            </div>
        </div>
    </div>
</div> -->
<!-- Opacity Card -->
<!-- <div class="card shadow mt-1">
    <div class="card-body">
        <h5 class="card-title">Opacity</h5>
        <div class="hstack gap-1">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-circle-half-stroke"></i></span>
                <input type="number" min="1" value="1" class="form-control" />
            </div>
        </div>
    </div>
</div> -->

<!-- Fill Color Card -->
<!-- <div class="card shadow mt-1">
    <div class="card-body">
        <h5 class="card-title">Fill Color</h5>
        <div class="hstack gap-1">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-fill-drip"></i></span>
                <input type="color" class="form-control" />
            </div>
        </div>
    </div>
</div> -->

<!-- Stoke Card -->
<!-- <div class="card shadow mt-1">
    <div class="card-body">
        <h5 class="card-title">Stroke</h5>
        <div class="hstack gap-3">
            <div>
                <input type="color" />
            </div>
            <div class="bg-light border">
                <input type="number" min="1" max="1000" value="1" class="form-control">
            </div>

        </div>
    </div>
</div> -->