<div class="row row-cols-1 row-cols-md-3 g-4 pe-2">
    <div class="col">
        <div class="card" id="shapes-cirlce-card">
            <img src="/images/elements/circle.png" height="80"  class="card-img-top" alt="Circle" />
            <div class="card-footer text-center">
                Cirlce
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" id="shapes-rectangular-card">
            <img src="/images/elements/rectangular.png" height="80" class="card-img-top" alt="Circle" />
            <div class="card-footer text-center">
                Rectangular
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" id="shapes-polygon-card">
            <img src="/images/elements/polygon.png" height="80" class="card-img-top" alt="Circle" />
            <div class="card-footer text-center">
                Polygon
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" id="shapes-square-card">
            <img src="/images/elements/square.png" height="90" class="card-img-top" alt="Circle" />
            <div class="card-footer text-center">
                Square
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" id="shapes-star-card">
            <img src="/images/elements/star.png" height="90" class="card-img-top" alt="Circle" />
            <div class="card-footer text-center">
                Star
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" id="shapes-triangle-card">
            <img src="/images/elements/triangle.png" height="90" class="card-img-top" alt="Circle" />
            <div class="card-footer text-center">
                Traiangle
            </div>
        </div>
    </div>
</div>