<!-- Gallery -->
<div class="different-sizes-images-container">
    <img src="/images/templates/disappointed-black-guy.jpg" class="border local-image" alt="Disappointed Black Guy" />
    <img src="/images/templates/waiting-skeleton.jpg" class="border local-image" alt="Waiting Skeleton" />
    <img src="/images/templates/distracted-boyfriend.jpg" class="border local-image" alt="Distracted Boyfriend" />
    <img src="/images/templates/drake-hotline-bling.jpg" class="border local-image" alt="Drake Hotline Bling" />
    <img src="/images/templates/roll-safe-think-about-it.jpg" class="border local-image" alt="Roll Safe Think About It" />
</div>
<!-- Gallery -->