<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="/admin"><img src="/images/logo.png" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="mm-active">
            <a href="/admin" aria-expanded="false">
                <img src="admin-assets/img/menu-icon/1.svg" alt="">
                <span>Dashboard</span>
            </a>
        </li>
        <li class="">
            <a href="/admin/users" aria-expanded="false">
                <img src="admin-assets/img/menu-icon/2.svg" alt="">
                <span>Users</span>
            </a>
        </li>
        <li class="">
            <a href="/admin/memes" aria-expanded="false">
                <img src="admin-assets/img/menu-icon/4.svg" alt="">
                <span>Memes</span>
            </a>
        </li>
        <li class="">
            <a href="/paygateways" aria-expanded="false">
                <img src="admin-assets/img/menu-icon/3.svg" alt="">
                <span>Payment Gateways</span>
            </a>
        </li>
        
        
       
        
    </ul>
</nav>